<!DOCTYPE html>
<html>
<head>
  <title>Existing App With Devise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li>
            <%= link_to "FeatureBox", feature_box.root_path %>
          </li>
          <li><%= link_to "Sign In", my_new_session_path %></li>
          <li><%= link_to "Sign Up", my_new_registration_path %></li>
          <li><%= link_to "Sign Out", my_destroy_session_path, :method=>:delete %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top:80px;">
    <div class="row">
      <div class="span12">
        <% if alert %>
          <div class="alert alert-error"><%= alert %></div>
        <% end %>
        <% if notice %>
          <div class="alert alert-info"><%= notice %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
