- if @comment.errors.any?
  .alert.alert-error
    %h4
      = pluralize(@comment.errors.count, "error")
      prohibited this comment from being saved:
    %ul
      - @comment.errors.full_messages.each do |msg|
        %li= msg
.well
  = form_for(@comment, :url => suggestion_comment_path(@comment.suggestion, @comment)) do |f|
    %legend Editing comment
    = generate_form_element( f, nil, f.text_area(:text,:size=>"10x5",:class=>"span8-5"))
    .pull-right.new-comment
      = generate_form_element f, nil, f.submit(:class=>"btn btn-primary ")
    .clearfix