- if @show_search
  = render 'search'
- if @show_nav_bar
  - order_types={:newest => "Newest", :most_popular => "Most Popular", :in_progress => "In Progress", :complete => "Complete"}
  %ul.nav.nav-tabs
    - if @active_order_type
      - order_types.each_pair do |key, value|
      - class_str=(key==@active_order_type)? "active":""
        %li{:class => class_str, :id => ""}
          = link_to value, suggestions_listing_path(:order => key, :category => @active_category.name), :remote => false
    = render "feature_box/shared/pages_nav"
#suggestions
  - @suggestions.each do |suggestion|
    = render :partial=>suggestion
  - if @suggestions.empty?
    .empty Nothing found
- if user_signed_in?
  - if current_user.votes_left > 0
    .new-btn
      = link_to 'New Suggestion', new_suggestion_path, :class=>"btn btn-large"
  - else
    .center.alert.alert-info
      = distance_of_time_in_words Time.now, current_user.can_vote_date
      until you get another vote
- else
  .center.alert.alert-info
    = link_to "Sign in to add suggestions", devise_router_name.new_user_session_path
