!!!
%html
  %head
    %title FeatureBox
    = stylesheet_link_tag    "feature_box/application"
    = javascript_include_tag "feature_box/application"
    = csrf_meta_tag
  %body
    /div in the top right corner
    #current-user-wrapper
      #current-user.container
        .row.pull-right
          - if user_signed_in?
            You signed in as 
            %strong= link_to current_user.name, devise_router_name.edit_user_registration_path
            |
            = link_to "Sign out", devise_router_name.destroy_user_session_path, {:method=>:delete}
          - else
            = link_to "Sign in", devise_router_name.new_user_session_path
    /Header
    %header.container
      .row
        .span3
          %h1= link_to 'FeatureBox', feature_box.root_path, :class=>"black-link"
        .span9
          %h1
            %small Nice and easy way of keeping in touch with your customers
    /Middle part
    .container
      .row
        /Navigations sidebar on the left
        .span3
          .sidebar-nav
            %ul#category-nav.nav.nav-list
              %li.nav-header Suggestions
              - @categories.each do |category|
                - class_str= if ( controller.controller_name == "suggestions" && category==@active_category) then "active" else "" end
                %li{:class => class_str, :id => ""}
                  = link_to category.name, feature_box.suggestions_listing_path(:order => @active_order_type, :category => category.name ), :remote => false
              - if user_signed_in?
                %li.nav-header Your Impact
                %li{:class=>if controller.controller_name == "suggestions" && controller.action_name == "my_suggestions" then "active" else "" end}= link_to "Suggestions", feature_box.my_suggestions_path
                %li{:class=>if controller.controller_name == "suggestions" && controller.action_name == "my_votes" then "active" else "" end}= link_to "Votes", feature_box.my_votes_path    
                %li{:class=>if controller.controller_name == "suggestions" && controller.action_name == "my_comments" then "active" else "" end}= link_to "Comments", feature_box.my_comments_path    
                - if current_user.admin?
                  %li.nav-header Manage
                  %li{:class=>if controller.controller_name == "categories" then "active" else "" end}= link_to "Categories", feature_box.categories_path            
                  %li{:class=>if controller.controller_name == "users" then "active" else "" end}= link_to "Users", feature_box.users_path
                - if FeatureBox::Settings.total_limit >= 0 && current_user.votes_left > 0 
                  .divider
                  #votes-left 
                    You have 
                    %span 
                      = pluralize current_user.votes_left, "vote"
                    left
        /Main content holder
        .span9
          /All flash messages and errors from devise goes here
          - if flash[:notice] != nil
            .alert.alert-success
              = flash[:notice]
          - if flash[:alert] != nil
            .alert.alert-error
              = flash[:alert]
          - if flash[:error]
            .alert.alert-error
              = flash[:error]
          - if devise_error_messages_any?
            .alert.alert-error
              = devise_error_messages!
          /Yield
          = yield
    /Footer
    %footer.container
      .row
        .span12
          %p.pull-right
            %a{:href => "#"} Back to top
          %p 
            © 2012 FeatureBox by 
            %a{:href => "http://dfilimonov.com/"} Dmitry Filimonov