%ul.nav.nav-tabs.table-nav
  = render "feature_box/shared/pages_nav"
#categories
  - if @real_categories.empty?
    %div.empty Nothing found
  - else
    %table.table.table-striped
      %thead
        %tr
          %th  
          %th Categories
          %th Number of suggestions
          %th
          %th
      %tbody
        - n = @offset
        - @real_categories.each do |category|
          %tr
            %td= n+=1
            %td= category.name 
            %td= category.suggestions.size
            %td= link_to "edit", edit_category_path(category)
            %td= link_to "delete", category, :confirm => 'Are you sure? This will delete ALL suggestions with category '+category.name, :method=>"delete", :class=>"link danger" 
  
.new-btn
  = link_to 'New Category', new_category_path, :class=>"btn btn-large"